@model PagedModel<Yooshina.CMSCore.ViewModels.PortalViewModels.PortalViewModel>


<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["TItle"]
            </th>
            <th>
                @Localizer["Alias"]
            </th>
            <th>
                @Localizer["Direction"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Alias)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direction)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
